<div class="center hero-unit">
<h1>Bookmark App</h1>
<h2>
  This is the home page for the Bookmark App for the Ruby on Rails class project 02.
</h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>